@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root,
  .dark-mode-disabled {
    --background: 60 16.67% 97.65%;
    --foreground: 240 16.67% 9.41%;

    --muted: 60 4.76% 95.88%;
    --muted-foreground: 240 11.54% 40.78%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 16.67% 9.41%;

    --card: 0 0% 100%;
    --card-border: 52.5 18.18% 91.37%;
    --card-border-tint: 255 144 118;
    --card-foreground: 240 16.67% 9.41%;

    --field-card: 12 100% 96.08%;
    --field-card-border: 11.39 100% 73.14%;
    --field-card-foreground: 240 16.67% 9.41%;

    --widget: 60 4.76% 95.88%;
    --widget-foreground: 52.5 18.18% 91.37%;

    --border: 52.5 18.18% 91.37%;
    --input: 52.5 18.18% 91.37%;

    --primary: 11.39 100% 73.14%;
    --primary-foreground: 240 16.67% 9.41%;

    --secondary: 52.5 18.18% 91.37%;
    --secondary-foreground: 240 16.67% 9.41%;

    --accent: 268.62 60.22% 96.47%;
    --accent-foreground: 268.14 45.38% 51.18%;

    --destructive: 4 79% 57%;
    --destructive-foreground: 0 0% 100%;

    --ring: 268.62 60.22% 64.51%;

    --radius: 0.75rem;

    --warning: 39 100% 57%;

    --gold: 39 100% 57%;

    --recipient-green: 151 45% 46%;
    --recipient-blue: 206 62% 52%;
    --recipient-purple: 268 60% 65%;
    --recipient-orange: 20 88% 62%;
    --recipient-yellow: 42 95% 53%;
    --recipient-pink: 330 67% 61%;

    /* Base - Neutral */
    --new-neutral-50: 60, 17%, 98%;
    --new-neutral-100: 60, 5%, 96%;
    --new-neutral-200: 53, 18%, 91%;
    --new-neutral-300: 42, 10%, 83%;
    --new-neutral-400: 240, 11%, 60%;
    --new-neutral-500: 240, 12%, 41%;
    --new-neutral-600: 240, 14%, 29%;
    --new-neutral-700: 240, 14%, 19%;
    --new-neutral-800: 240, 16%, 14%;
    --new-neutral-900: 240, 16%, 11%;
    --new-neutral-950: 240, 17%, 9%;

    /* Base - White */
    --new-white-50: 240, 17%, 9%;
    --new-white-60: 240, 16%, 11%;
    --new-white-100: 240, 15%, 14%;
    --new-white-200: 240, 14%, 19%;
    --new-white-300: 240, 12%, 29%;
    --new-white-400: 240, 11%, 41%;
    --new-white-500: 240, 11%, 60%;
    --new-white-600: 42, 10%, 83%;
    --new-white-700: 53, 18%, 91%;
    --new-white-800: 60, 5%, 96%;
    --new-white-900: 0, 0%, 100%;

    /* Primary - Coral */
    --new-primary-50: 12, 100%, 98%;
    --new-primary-100: 12, 100%, 95%;
    --new-primary-200: 12, 100%, 90%;
    --new-primary-300: 12, 100%, 84%;
    --new-primary-400: 12, 100%, 78%;
    --new-primary-500: 11, 100%, 73%;
    --new-primary-600: 11, 76%, 61%;
    --new-primary-700: 11, 69%, 50%;
    --new-primary-800: 11, 61%, 39%;
    --new-primary-900: 11, 55%, 27%;
    --new-primary-950: 11, 52%, 18%;

    /* Secondary - Purple */
    --new-info-50: 270, 60%, 98%;
    --new-info-100: 269, 60%, 95%;
    --new-info-200: 269, 60%, 89%;
    --new-info-300: 269, 60%, 81%;
    --new-info-400: 269, 60%, 72%;
    --new-info-500: 269, 60%, 65%;
    --new-info-600: 268, 45%, 51%;
    --new-info-700: 268, 44%, 41%;
    --new-info-800: 268, 43%, 31%;
    --new-info-900: 268, 42%, 21%;
    --new-info-950: 268, 41%, 13%;

    /* Secondary - Error */
    --new-error-50: 6, 80%, 97%;
    --new-error-100: 5, 79%, 92%;
    --new-error-200: 5, 79%, 84%;
    --new-error-300: 5, 79%, 74%;
    --new-error-400: 5, 79%, 66%;
    --new-error-500: 4, 79%, 57%;
    --new-error-600: 4, 73%, 47%;
    --new-error-700: 4, 70%, 36%;
    --new-error-800: 4, 66%, 25%;
    --new-error-900: 4, 62%, 16%;
    --new-error-950: 4, 60%, 10%;

    /* Secondary - Warning */
    --new-warning-50: 39, 100%, 97%;
    --new-warning-100: 39, 100%, 93%;
    --new-warning-200: 39, 100%, 86%;
    --new-warning-300: 39, 100%, 78%;
    --new-warning-400: 39, 100%, 69%;
    --new-warning-500: 39, 100%, 57%;
    --new-warning-600: 36, 92%, 50%;
    --new-warning-700: 33, 83%, 40%;
    --new-warning-800: 31, 72%, 30%;
    --new-warning-900: 29, 62%, 20%;
    --new-warning-950: 28, 58%, 13%;

    /* Surface */
    --new-surface-black: 240, 17%, 9%;
    --new-surface-white: 60, 5%, 96%;

    --envelope-editor-background: 60 16.67% 97.65%;
  }

  .dark:not(.dark-mode-disabled) {
    --background: 240 16.36% 10.78%;
    --foreground: 240 16.13% 93.92%;

    --muted: 240 15.49% 13.92%;
    --muted-foreground: 240 10.13% 69.02%;

    --popover: 240 16.36% 10.78%;
    --popover-foreground: 240 16.13% 93.92%;

    --card: 240 16.36% 10.78%;
    --card-border: 240 14.29% 19.22%;
    --card-border-tint: 255 144 118;
    --card-foreground: 240 16.13% 93.92%;

    --widget: 240 16.36% 10.78%;
    --widget-foreground: 240 15.49% 13.92%;

    --border: 240 14.29% 19.22%;
    --input: 240 14.29% 19.22%;

    --field-border: 52.5 18.18% 91.37%;

    --primary: 11.39 100% 73.14%;
    --primary-foreground: 240 16.67% 9.41%;

    --secondary: 240 15.49% 13.92%;
    --secondary-foreground: 240 16.13% 93.92%;

    --accent: 268.14 45.38% 18%;
    --accent-foreground: 240 16.13% 93.92%;

    --destructive: 0 72% 63%;
    --destructive-foreground: 0 0% 100%;

    --ring: 268.62 60.22% 64.51%;

    --radius: 0.75rem;

    --warning: 39 100% 57%;

    --gold: 39 100% 57%;

    --envelope-editor-background: 240 16.36% 10.78%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}

/*
 * Custom CSS for printing reports
 * - Sets page margins to 0.5 inches
 * - Hides the header and footer
 * - Hides the print button
 * - Sets page size to A4
 * - Sets the font size to 12pt
 */
.print-provider {
  @page {
    margin: 1in;
    size: A4;
  }
}

.gradient-border-mask::before {
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask-composite: exclude;
  -webkit-mask-composite: xor;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  background: transparent;
  border-radius: 10px;
  scrollbar-gutter: stable;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
